<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/styles.css">
    <meta charset="utf-8">
    <title>Wiki</title>
  </head>
  <body>
    <!-- to add styles to all pages create a layout page (this page) and add this code below  -->
    <%= yield %>
  </body>
</html>
